* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('/images/background-poster.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 1765px auto;
}

.hero {
    max-width: 1140px;
    width: 100%;
    height: 350px;
    overflow: hidden;
    margin: 0 auto;
}

.hero__img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.header__container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 50px;
    background-color: #123D4B;
}

.header__adress {
    display: flex;
    flex-direction: column;
}

.header__country {
    font-size: 16px;
    color: #fff;
}

.header__street {
    font-size: 13px;
    color: #A0AEB7;
}

.header__phone {
    display: flex;
    flex-direction: column;
}

.header__number {
    font-size: 16px;
    color: #fff;
}

.header__cashier {
    font-size: 13px;
    color: #A0AEB7;
}

.header__socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.icon {
    background: #A0AEB7;
    text-decoration: none;
    border-radius: 50%;
}

.icon:hover {
    background: #b1bec6;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;

}

.icon:active {
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.1);
}

.facebook {
    padding: 6px 12px 4px;
}

.instagram {
    padding: 7px 8px 5px
}

.youtube {
    padding: 10px 8px 8px;
}

.vk {
    padding: 11px 8px 8px;
}

.header__btn {
    margin-left: 16px;
    background: #E92B43;
    color: #fff;
    font-size: 14px;
    padding: 8px 16px;
    border: none;
    border-radius: 16px;
}

.header__btn:hover {
    opacity: 0.85;
    transform: translateY(-0.5px);
    transition: all 0.2s ease;
}

.header__btn:active {
    transform: translateY(0px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease;
}

.nav__container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 50px;
}

.nav__list {
    display: flex;
    list-style: none;
    gap: 30px;
}

.active {
    border-bottom: 3px solid #FF0000;
}

.nav__link {
    text-decoration: none;
    color: #010101;
    font-size: 15px;
    display: block;
    padding: 15px 0;
}

.nav__buttons {
    display: flex;
}

.btn__login {
    background: #E92B43;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    border-radius: 16px;
    padding: 8px 16px;
    margin-left: 32px;
}

.btn__login:hover {
    opacity: 0.85;
    transform: translateY(-0.5px);
    transition: all 0.2s ease;
}

.btn__login:active {
    transform: translateY(0px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease;
}

.btn__review {
    background: #E92B43;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    border-radius: 16px;
    padding: 8px 16px;
    margin-left: 32px;
}

.btn__review:hover {
    opacity: 0.85;
    transform: translateY(-0.5px);
    transition: all 0.2s ease;
}

.btn__review:active {
    transform: translateY(0px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease;
}

.dates__container {
    background: #F2F2F5;
    border-top: 1px solid #E7E7EC;
    max-width: 1135px;
    padding: 0 45px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.dates__list {
    display: flex;
    list-style: none;
    gap: 10px;
    padding: 8px 0;
}

.dates__link {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    display: block;
    padding: 15px 0;
    background: #fff;
    border-radius: 16px;
    padding: 8px 16px;
    border: 1px solid #E7E7EC;
}

.dates__link:hover {
    opacity: 0.85;
    transform: translateY(-0.5px);
    transition: all 0.2s ease;
}

.dates__link:active {
    transform: translateY(0px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease;
}

.active__btn {
    background: #E92B43;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    border-radius: 16px;
    padding: 8px 16px;
}

.active__btn:hover {
    opacity: 0.85;
    transform: translateY(-0.5px);
    transition: all 0.2s ease;
}

.active__btn:active {
    transform: translateY(0px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease;
}

.movies__grid {
    max-width: 1140px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0 50px;
}

.card {
    padding: 0 5px 20px;
}

.card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-4px);
    transition: all 0.2s ease;
}

.card:active {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.10);
    transform: translateY(-2px);
    transition: all 0.1s ease;
}

.card__poster {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px;
}

.card__badge {
    position: absolute;
    top: 15px;
    right: 10px;
    background: #E92B43;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    padding: 4px 8px;
}

.card__poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card__title {
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    margin: 10px 0 9px;
    padding-left: 10px;
}

.card__genre {
    font-size: 12px;
    border-radius: 3px;
    color: #727276;
    background: #F2F2F5;
    padding: 3px 4px;
    display: inline-block;
    margin-bottom: 7px;
    padding-left: 10px;
}

.sessions {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.card__sessions {
    max-width: 66px;
    max-height: 65px;
    margin-top: 13px;
}

.card__sessions:hover {
    opacity: 0.85;
    transform: translateY(-0.5px);
    transition: all 0.2s ease;
}

.card__sessions:active {
    transform: translateY(0px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease;
}

.card__session {
    border-radius: 3px;
    border: 1px solid #E92B43;
}

.movie__time {
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    background: #E92B43;
    text-align: center;
    display: block;
    padding: 7px 14px;
}

.card__info {
    padding: 3px 5px;
}

.card__info span {
    font-size: 11px;
    color: #4C4C4F;
}

.movie__hall {
   font-size: 10px;
   color: #4C4C4F;
   text-align: center;
   display: block;
   margin-top: 3px;
}

.btn__sessions {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    padding: 8px 16px;
    background: #E92B43;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

.btn__sessions:hover {
    opacity: 0.85;
    transform: translateY(-0.5px);
    transition: all 0.2s ease;
}

.btn__sessions:active {
    transform: translateY(0px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease;
}

.footer__top {
    background-color: #123D4B;
    padding: 24px 0px 30px 0px;
}

.footer__container {
    max-width: 1140px;
    padding: 0 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__contact {
    display: flex;
    flex-direction: column;
}

.footer__email {
    font-size: 16px;
    color: #fff;
}

.footer__address {
    font-size: 13px;
    color: #A0AEB7;
}

.header__country {
    font-size: 16px;
    color: #fff;
}

.header__street {
    font-size: 13px;
    color: #A0AEB7;
}

.footer__phone {
    display: flex;
    flex-direction: column;
}

.footer__number {
    font-size: 16px;
    color: #fff;
}

.footer__label {
    font-size: 13px;
    color: #A0AEB7;
}

.footer__schedule {
    display: flex;
    flex-direction: column;
}

.schedule__time {
    font-size: 16px;
    color: #fff;
}

.schedule__label {
    font-size: 13px;
    color: #A0AEB7;
}

.footer__middle {
    background: #0C3542;
    padding: 28px 0 20px 0;
}

.footer__title {
    display: block;
    font-size: 16px;
    color: #fff;
    margin-bottom: 15px;
}

.footer__list {
    list-style: none;
    color: #A0AEB7;
}

.footer__text {
    font-size: 13px;
    color: #A0AEB7;
    margin-top: 50px;
}

.footer__bottom {
    border-top: 1px solid #A0AEB7;
    background: #0C3542;
    padding: 20px 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    font-size: 14px;
    color: #A0AEB7;
}

@media (max-width: 1024px) {
    .movies__grid {
        grid-template-columns: repeat(3, 1fr);
        padding: 0 20px;
    }
}


@media (max-width: 950px) {
    .header__container {
        flex-wrap: wrap;
        padding: 15px 20px;
        gap: 12px;
    }

    .header__adress,
    .header__phone {
        display: none;
    }

    .nav__container {
        padding: 0 20px;
    }

    .dates__container {
        padding: 0 15px;
    }

    .dates__list {
        overflow-x: auto;
        flex-wrap: wrap;
    }

    .dates__link {
        white-space: nowrap;
        padding: 6px 12px;
    }
}

@media (max-width: 770px) {

    .hero {
        height: 200px;
    }

    .movies__grid {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 15px;
        gap: 15px;
    }

    .card__title {
        font-size: 18px;
    }

    .card__poster {
        height: 300px;
    }

    .sessions {
        gap: 6px;
        margin-bottom: 10px;
    }

    .footer__container {
        flex-wrap: wrap;
        gap: 20px;
        padding: 0 20px;
    }
}

@media (max-width: 710px) {
    .nav__container {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 20px;
        gap: 8px;
    }

    .nav__link {
        padding: 10px 0;
    }

    .nav__buttons {
        margin: 10px 0;
    }

    .btn__login {
        margin-left: 0;
    }
}

@media (max-width: 600px) {
    .icon {
        display: none;
    }
}

@media (max-width: 480px) {

    .hero {
        height: 100px;
    }

    .header__logo img {
        width: 120px;
    }

    .header__btn {
        font-size: 12px;
        padding: 6px 12px;
    }

    .nav__link {
        font-size: 13px;
    }

    .dates__link {
        font-size: 13px;
    }

    .btn__login {
        font-size: 12px;
        padding: 6px 12px;
    }

    .btn__review {
        font-size: 12px;
        padding: 6px 12px;
        margin-left: 15px;
    }

    .movies__grid {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 20px;
        gap: 10px;
    }

    .card__poster {
        height: 350px;
    }

    .footer__logo img {
        width: 150px;
    }

    .footer__contact {
        width: 100%;
    }

    .footer__contact span {
        font-size: 14px;
    }

    .footer__phone {
        width: 100%;
    }

    .footer__phone span {
        font-size: 14px;
    }

    .footer__schedule {
        width: 100%;
    }

    .footer__schedule span {
        font-size: 14px;
    }

    .footer__list {
        font-size: 15px;
    }

}

@media (max-width: 360px) {
    .nav__list {
        gap: 15px;
    }

    .dates__list {
        display: block;
        width: 100%;
    }

    .dates__item {
        margin: 5px 0;
        
    }
}